.companies-features-container {
  background-color: #f4ede4;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Questrial", sans-serif;
  font-family: "Roboto", sans-serif;
  padding-bottom: 1rem;
}
.trusted-companies-title {
  text-align: center;
  font-weight: 600;
  padding-top: 2rem;
  margin-top: 0;
}
.companies-logos-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: auto;
}
.companies-logos-container img
{
    margin-right: 2rem;
    margin-top: 1.5rem;
}