.features-provided
{
    background-color: #f4ede4;
    margin-top: 4rem;
    margin: 2rem 7rem;
}
.feature-video-text-cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0rem;
}
.feature-video-text-cont .video-cont
{
    width: 38rem;
}
.feature-video-text-cont .text-cont
{
    width: 35rem;
}
.feature-video-text-cont .text-cont h1
{
    font-size: 3rem;
}
.flex-reverese
{
    flex-direction: row-reverse;
}